// Colors
color-default = #4f5759
color-title = #222
color-border = #ddd
color-link = #33a6b8
color-background = #fff
color-meta = #999
color-footer = #777

// Fonts
font-sans = "WenQuanYi Micro Hei", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Open Sans", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "Microsoft YaHei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif
font-serif = Georgia, "Nimbus Roman No9 L", "Times New Roman", "Songti SC", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "WenQuanYi Zen Hei Sharp", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", serif
font-mono = "WenQuanYi Micro Hei Mono", "Source Code Pro", Consolas, Monaco, Menlo, "WenQuanYi Zen Hei Mono", monospace
font-icon = FontAwesome
font-icon-path = "fonts/fontawesome-webfont"
font-icon-version = "4.0.3"
font-size = 100%
line-height = 2em
