---
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
      liang zhen sheng
      </span>
    </h1>
    <p class="text-2xl pb-4">Web Developer.</p>
  </div>
  <div>
    <p>
      I am a <strong>senior student</strong> and a
      <strong>front-end development enthusiast</strong>. I like both
      <strong>Vue</strong> and <strong>React</strong>, and I have some
      experience with <strong>Java</strong>. I like open source.
    </p>
  </div>
</section>
